{% extends 'summit/base.html' %}

{% block title %}Create Event{% endblock %}

{% block content %}

<h2>Create New Event</h2>

<div class="card" style="max-width:850px;">
    <form method="post">
        {% csrf_token %}

        <div style="margin-bottom:18px;">
            <label><strong>Event Name</strong></label>
            <input type="text" name="name" placeholder="Example: National Education Summit 2026" required
                   style="width:100%;padding:12px;border:1px solid #ccc;border-radius:8px;font-size:16px;">
        </div>

        <div style="display:grid;grid-template-columns:1fr 1fr;gap:18px;">
            <div>
                <label><strong>Event Code</strong></label>
                <input type="text" name="code" placeholder="Example: NES2026" required
                       style="width:100%;padding:12px;border:1px solid #ccc;border-radius:8px;font-size:16px;">
            </div>

            <div>
                <label><strong>Venue</strong></label>
                <input type="text" name="venue" placeholder="Example: Dodoma Convention Centre" required
                       style="width:100%;padding:12px;border:1px solid #ccc;border-radius:8px;font-size:16px;">
            </div>
        </div>

        <div style="display:grid;grid-template-columns:1fr 1fr;gap:18px;margin-top:18px;">
            <div>
                <label><strong>Start Date</strong></label>
                <input type="date" name="start_date" required
                       style="width:100%;padding:12px;border:1px solid #ccc;border-radius:8px;font-size:16px;">
            </div>

            <div>
                <label><strong>Start Time</strong></label>
                <input type="time" name="start_time"
                       style="width:100%;padding:12px;border:1px solid #ccc;border-radius:8px;font-size:16px;">
            </div>
        </div>

        <div style="display:grid;grid-template-columns:1fr 1fr;gap:18px;margin-top:18px;">
            <div>
                <label><strong>End Date</strong></label>
                <input type="date" name="end_date"
                       style="width:100%;padding:12px;border:1px solid #ccc;border-radius:8px;font-size:16px;">
            </div>

            <div>
                <label><strong>End Time</strong></label>
                <input type="time" name="end_time"
                       style="width:100%;padding:12px;border:1px solid #ccc;border-radius:8px;font-size:16px;">
            </div>
        </div>

        <p style="margin-top:24px;">
            <button type="submit" class="btn btn-success">Create Event</button>
            <a href="{% url 'event_list' %}" class="btn btn-secondary">Back to Events</a>
        </p>
    </form>
</div>

{% endblock %}