<!DOCTYPE html>
<html>
<head>
    <title>Registration Successful</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background: #f4f7fb;
            padding: 30px;
            text-align: center;
        }

        .card {
            max-width: 500px;
            background: white;
            margin: auto;
            padding: 30px;
            border-radius: 12px;
        }

        h2 {
            color: green;
        }
    </style>
</head>
<body>

<h2>Registration Successful</h2>

<p>Thank you. Your summit registration has been received.</p>

<h3>Your Registration Number:</h3>

<h2 style="color:#1D5FA7;">
    {{ participant.registration_number }}
</h2>

<p>Please keep this number for summit attendance verification.</p>
<p>
    <a href="{% url 'participant_badge' participant.id %}">
        View / Print Participant Badge
    </a>
</p>

</body>
</html>